.bundle/
*.iso
*.box
*.ovf
*.ova
*.vmdk
*.vmx
*.vmxf
*.vdi
virtualfloppy.vfd
packer_cache
packer.log
.DS_Store
/packer-*/
*.variables.json
/builds/
/iso/
.kitchen
.kitchen.yml
Gemfile.lock
bootstrap.sh
Berksfile.lock
packerlog.txt